body{
	background-color : rgb(204,204,204);
}
h1{
	text-align : center;
}
h2{
	text-align : center;
	
}
h3{
	text-align : center;
	
}
#change{
	list-style-type: none;
	border : 1px solid black;
	border-radius : 5px;
	padding : 10px;
	background-color : white;
}
a{
		text-decoration : none;
}
#pass{
	border : 1px solid black;
	border-radius : 5px;
	background-color : white;
	width : 700px;
	  box-sizing: border-box;
	


	
}
.player_one{
	background-color: rgb(255, 255, 255);
	padding : 20px;
	border-radius : 1px;
	margin-left : auto;
	margin-right : auto;
	display : block;
}
.player_two{
	padding : 20px;
	border-radius : 1px;
	margin-left : auto;
	margin-right : auto;
	display : block;
}	